.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-top: 45px;
}

.card{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color:var(--dark-blue-cardbg);
    padding: 25px;
    box-sizing: border-box;
    text-align: center;  
    position: relative;
}


.social__user{
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__user img{
    margin-right: 10px;
}

.social__followers{
    margin: 25px auto;
      line-height: 1.2;
}

.followers-number{
    display: block;
    font-size: 60px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.followers-text{
    font-size: 12px;
    letter-spacing: 6px;
  
}

.social__change{
    color: var(--lime-green);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social__change img{
    margin: 0 5px;
}
.social--negative{
    color: var(--bright-red);
}

/* cor borda */
.card::before{
    content: "";
    width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.social__facebook::before{
    background-color:var(--face-color);
}

.social__twitter::before{
    background-color: var(--twitter-color);
}

.social__instagram::before{
    background: var(--instagram-color);
} 

.social__youtube::before{
    background: var(--youtube-color);
}

/* card-bottom */
.cards-bottom{
    margin-top: 50px;
    
}
.cards-bottom__title{
    grid-column: 1 / span 4;
    color: var( --white-text);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.65em;
}

.social--columns{
    display: flex;
    justify-content: space-between;
}

.social__column{
    display: grid;
    gap: 1.65em;   
}

.social__overview-page{
    font-size: 14px;
    font-weight: 700;
}

.social__overview-number{
    font-size: 36px;
    font-weight: 700;
    color: var(--white-bg);
    text-align: left;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6em 0;
    font-size: 11px;

}