@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    /* primary */
    --lime-green:hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --face-color: hsl(208, 92%, 53%);
    --twitter-color:hsl(203, 89%, 53%);
    --instagram-color:linear-gradient(to right hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    --youtube-color:hsl(348, 97%, 39%);

    /* dark theme */

    --toggle-dark:linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --dark-blue-bg:hsl(230, 17%, 14%);
    --dark-blue-topbg:hsl(232, 19%, 15%);
    --dark-blue-cardbg: hsl(228, 28%, 20%);
    --blue-text: hsl(228, 34%, 66%);
    --white-text: hsl(0, 0%, 100%);

    /* Light Theme */
    --toggle-light: hsl(230, 22%, 74%);
    --white-bg: hsl(0, 0%, 100%);
    --veryPaleBlue-topbg:hsl(225, 100%, 98%);
    --lightGrayishBlue-cardbg:hsl(227, 47%, 96%);
    --darkGrayishBlue-text:hsl(228, 12%, 44%);
    --veryDarkBlue-text:hsl(230, 17%, 14%);
}

body{
    font-size: 16px;
    font-family:'Inter', Arial,  sans-serif ;
    line-height: 1.5;
    background-color: var(--dark-blue-bg);
}

 .container{
    max-width: 1440px; 
    margin: auto;

} 
header{
    background-color:var(--dark-blue-topbg);
    

}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    font-weight: 700;
    color: var(--blue-text);
}
.header h1{
    color: var(--white-text);

}
 /* toggle */

 .toggle-wrapper{
    display: flex;
   
 }
 .toggle-wrapper label{
    cursor: pointer;
    margin-left: 1em;

 }
.slider{
    position: relative;
    width: 40px;
    height: 20px;
    border: 2px solid #bbb ;
    border-radius: 20px;
    background: var(--toggle-light);
}

.button{
    background-color:var(--white-bg);
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    left: 2px;
    top: 1px;
    position: absolute;
}

.toggle-input:checked ~ .slider{
    background: var(--toggle-dark);
}
.toggle-input:checked ~ .slider > .button{
    background: var(--dark-blue-cardbg);
    left: 20px;
}
.toggle-input{
    display: none;
}
/* fim header */

.box-cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr) ;
    grid-gap: 40px;
    padding: 1em 0;
    color: var(--blue-text);
}

.card-followers{
    background-color: var(--dark-blue-cardbg);
    border-radius: 8px;
    padding: 3em 0;
    text-align: center;
}
.card-followers:hover{
    cursor: pointer;

}

.card-followers:nth-child(1), .card-over1, .card-over5{
    grid-column: 1 / span 3;
}

.card-followers:nth-child(2), .card-over2, .card-over6{
    grid-column: 4 / span 3;
}
.card-followers:nth-child(3), .card-over3, .card-over7{
    grid-column: 7 / span 3 ;
}

.card-followers:nth-child(4), .card-over4, .card-over8{
    grid-column:  10/ span 3;
}

.card-facebook{
    border-top: 5px solid var(--face-color);
}

.card-twitter{
    border-top: 5px solid var(--twitter-color);
}
.card-instagram{
    border-top: 5px solid hsl(329, 70%, 58%);
}

.card-youtube{
    border-top: 5px solid var(--youtube-color); 
}

.card-followers span{
    display: inline-block;
    margin-left: 2px;
    padding-bottom: 5px;
}

.followers-amount{
    font-size: 60px;
    font-weight: 700;
    color: var(--white-text);
    padding-top: 0.65rem;
}

.followers-text{
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.followers-today{
    color: var(--lime-green);
    font-weight: 600;
}

/* section 2 */

.title-overview{
    color: var(--white-text);
    font-weight: 700;
     font-size: 30px; 
     grid-column:  1 / span 12; 
}

.card-overview{
    background-color: var(--dark-blue-cardbg);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

.overview-amount{
    font-size: 35px;
    color: var(--white-text);
    font-weight: 700;
    padding-top: 0.65em;
  

}
.overview-social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview-social figure{
    align-self: center;
}


    
    

